
/* || RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* COLORS */
    --BgColor: whitesmoke;
    --NavBgColor: rgb(58, 57, 57);    
    --FgColor: Black;

}

body{
    background-color: var(--BgColor);
    color: var(--FgColor);
}

  

.horizontal_ul{
    display: flex;
}

.nav_li{
    list-style: none;
    margin: 0 1.5rem;
}

header{
    position:fixed;
    float: right;
    right: 0;
    top: 20px;
}


#Main_Nav{
    background-color: var(--NavBgColor);
    border-radius: 20px 0 0 20px;
    display: flex;
    height: 2rem;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: var(--FgColor);
}

a:hover{
    text-decoration: underline solid;
}

a:visited{
    color: var(--FgColor);
}

/* || MEDIA QUERIES */
@media (prefers-color-scheme: dark){
    :root{
        --BgColor: hsl(0,0%,0%,0.9);
        --FgColor: whitesmoke;
    }
} 